.terraform
.terraform.lock.hcl
*.plan
*outputs.txt
*.backup
*.tfstate
*.out
.DS_Store
.ci/user-inputs.sh
tfvars/**
!tfvars/admin/
!tfvars/admin/**
!tfvars/templates/
!tfvars/templates/**
.artifacts/
rendered/
vault-
__pycache__/
*.pyc
.assets/
